@{
    ViewData["Title"] = "Home";
    ViewData["class"] = "body-index";
}
   
    <div class="body-content">
        <h1>Recode Trip</h1>
        <p>Viaje pelo Brasil e tenha experiências incríveis!</p>
    </div>

